<div class='chat-ranking-form'>
  <h1>新規ランキング</h1>
  <%=form_with model: @ranking, local: true do |f|%>
    
    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :ランキング名, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :title, class: 'chat__ranking_name chat-ranking-form__input', placeholder: 'ランキング名を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :カテゴリ名, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :category, class: 'chat__ranking_name chat-ranking-form__input', placeholder: 'カテゴリ名を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :選択1, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :choice_a, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択1を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :選択2, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :choice_b, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択2を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :選択3, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :choice_c, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択3を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :選択4, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :choice_d, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択4を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :選択5, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :choice_e, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択5を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--right'>
        <%= f.submit class: 'chat-ranking-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
